'.source.asciidoc:not(.markup.code)':

  # Blocks
  #
  'Comment Block':
    description: 'Comment block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#comments'
    prefix: '//'
    body: '''
      ////
      $1
      ////
      $0
      '''
  'Sidebar Block':
    description: 'Sidebar block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#delimited-blocks'
    prefix: '**'
    body: '''
      .${1:title}
      ****
      ${2}
      ****
      $0
      '''
  'Example Block':
    description: 'Example block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#example'
    prefix: '=='
    body: '''
      .${1:title}
      ====
      ${2}
      ====
      $0
      '''
  'Listing Block':
    description: 'Listing block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#listing-blocks'
    prefix: '--'
    body: '''
      ----
      $1
      ----
      $0
      '''
  'Source Block':
    description: 'Source block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#listing-blocks'
    prefix: '--$'
    body: '''
      [source, $1]
      ----
      $2
      ----
      $0
      '''
  'Literal Block':
    description: 'Literal block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#literal-text-and-blocks'
    prefix: ',,'
    body: '''
      ....
      $1
      ....
      $0
      '''
  'Passthrough Block':
    description: 'Passthrough block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#pass-bl'
    prefix: '++'
    body: '''
      ++++
      $1
      ++++
      $0
      '''
  'Quote Block':
    description: 'Quote block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#quote'
    prefix: '__'
    body: '''
      [quote, ${1:attribution}, ${2:citetitle}]
      ____
      $3
      ____
      $0
      '''
  'Open Block':
    description: 'Open block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#open-blocks'
    prefix: '~~'
    body: '''
      --
      $1
      --
      $0
      '''
  'Table Block':
    description: 'Table block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#tables'
    prefix: '|='
    body: '''
      |===
      |$1
      |===
      '''
  'Block Image':
    description: 'Block image'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#images'
    prefix: 'image'
    body: '''
      image::${1:target}[${2:alt}]

      $0
      '''

  # Sections
  #
  'Document Title':
    description: 'Document title (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#document-title'
    prefix: '=0'
    body: '''
      = $1
      $0
      '''
  'Section 0 / Part':
    description: 'Level 0 section / part (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=1'
    body: '''
      = $1

      $0
      '''
  'Section 1 / Chapter':
    description: 'Level 1 section / chapter (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=2'
    body: '''
      == $1

      $0
      '''
  'Section 2':
    description: 'Level 2 section (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=3'
    body: '''
      === $1

      $0
      '''
  'Section 3':
    description: 'Level 3 section (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=4'
    body: '''
      ==== $1

      $0
      '''
  'Section 4':
    description: 'Level 4 section (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=5'
    body: '''
      ===== $1

      $0
      '''
  'Section 5':
    description: 'Level 5 section (single-line syntax)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=6'
    body: '''
      ====== $1

      $0
      '''

  # Inline Macros
  #
  'Keyboard':
    description: 'Keyboard shortcut'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#keyboard-shortcuts'
    prefix: 'kbd'
    body: 'kbd:[$1] $0'
  'Menu selection':
    description: 'Menu selection'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#menu-selections'
    prefix: 'menu'
    body: 'menu:$1[$2] $0'
  'UI buttons':
    description: 'UI button'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#ui-buttons'
    prefix: 'btn'
    body: 'btn:[$1] $0'
  'Inline Image':
    description: 'Inline image'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#images'
    prefix: 'img'
    body: 'image:${1:target}[${2:alt}] $0'
  'Inline Icon':
    description: 'Inline icon'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#inline-icons'
    prefix: 'icon'
    body: 'icon:${1:name}[] $0'
  'Link macro':
    description: 'Explicit link'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#url'
    prefix: 'link'
    body: 'link:${1:url}[${2:label}] $0'
  'mailto link':
    description: 'E-mail link'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#url'
    prefix: 'mail'
    body: 'mailto:${1:email}[${2:label}] $0'
  'stem':
    description: 'STEM expression'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#activating-stem-support'
    prefix: 'stem'
    body: 'stem:[${1:expr}] $0'
  'stem asciimath':
    description: 'AsciiMath STEM expression'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#activating-stem-support'
    prefix: 'asciimath'
    body: 'asciimath:[${1:expr}] $0'
  'stem latexmath':
    description: 'LaTeX STEM expression'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#activating-stem-support'
    prefix: 'latex'
    body: 'latexmath:[${1:expr}] $0'
  'Footnote':
    description: 'Footnote'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#user-footnotes'
    prefix: 'fn'
    body: 'footnote:[$1] $0'
  'Footnote reference':
    description: 'Footnote reference'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#user-footnotes'
    prefix: 'fnref'
    body: 'footnoteref:[$1] $0'

  # Others
  #
  'Attribute Entry':
    description: 'Define or update a document attribute'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#setting-attributes-on-a-document'
    prefix: '::'
    body: '''
      :${1:name}: ${2:value}
      $0
      '''
  'Author':
    description: 'Author and email line'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#author-and-email'
    prefix: 'author'
    body: '${1:author} <${2:email}>$0'
  'Revision information':
    description: 'Document revision line'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#revision-number-date-and-remark'
    prefix: 'rev'
    body: '''
      v${1:1.0.0}, ${2:date}
      $0
      '''
  'Subscript':
    description: 'subscript'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#subscript-and-superscript'
    prefix: 'sub'
    body: '~$1~ $0'
  'Superscript':
    description: 'superscript'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#subscript-and-superscript'
    prefix: 'sup'
    body: '^$1^ $0'
  'Callout':
    description: 'Callout number'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#callouts'
    prefix: 'co'
    body: '<$1> $0'
  'Unchecked':
    description: 'Unchecked checklist item'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#checklist'
    prefix: '-o'
    body: '- [ ] $0'
  'Checked':
    description: 'Checked checklist item'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#checklist'
    prefix: '-x'
    body: '- [x] $0'

  # Templates
  #
  'Man Page':
    description: 'Man page template'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#man-pages'
    # See also http://docopt.org/ for how to describe commmand line options.
    prefix: 'man'
    body: '''
      = {manname}(1)
      ${1:Author Name}
      v${2:1.0.0}
      :doctype: manpage
      :manname: ${3:command}
      :manmanual: User Commands
      :mansource: {revnumber}

      == NAME

      {manname} - ${4:description}

      == SYNOPSIS

      *{manname}* ['OPTION']... 'FILE'...

      == OPTIONS

      *-${5:short-option}, --${6:long-option}*::
        ${7:Description of option.}

      $0

      == EXIT STATUS

      *0*::
        Success.

      *1*::
        Failure.

      == COPYRIGHT

      Copyright \\\\(C) {author}.

      This is free software.
      See the source for copying conditions.
      '''
