'.source.asciidoc':
  'Comment Block':
    'prefix': 'bl//'
    'body': '////////////////////////////////////////////////////////////////////////////\n$1\n////////////////////////////////////////////////////////////////////////////\n$0'
  'Example Block':
    'prefix': 'bl=='
    'body': '============================================================================\n$1\n============================================================================\n$0'
  'Heading 0 (one-liner)':
    'prefix': 'h0'
    'body': '= $1 =\n${2:Author Name} <${3:mail@address.com}>\nv1.0, `date`\n\n$0'
  'Heading 1 (one-liner)':
    'prefix': 'h1'
    'body': '== $1 ==\n\n$0'
  'Heading 2 (one-liner)':
    'prefix': 'h2'
    'body': '=== $1 ===\n\n$0'
  'Heading 3 (one-liner)':
    'prefix': 'h3'
    'body': '==== $1 ====\n\n$0'
  'Heading 4 (one-liner)':
    'prefix': 'h4'
    'body': '===== $1 =====\n\n$0'
  'Listing Block':
    'prefix': 'bl--'
    'body': '[source,$1]\n----\n$2\n----\n$0'
  'Literal Block':
    'prefix': 'bl..'
    'body': '............................................................................\n$1\n............................................................................\n$0'
  'Passthrough Block':
    'prefix': 'bl++'
    'body': '++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++\n$1\n++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++\n$0'
  'Quote Block':
    'prefix': 'bl__'
    'body': '____________________________________________________________________________\n$1\n____________________________________________________________________________\n$0'
  'Sidebar Block':
    'prefix': 'bl**'
    'body': '****************************************************************************\n$1\n****************************************************************************\n$0'
  'Table':
    'prefix': '|='
    'body': '.${1:Legend}\n[width="${2:100%}",cols="$3",options="$4"]\n|===\n|$5\n|==='
