'.source.asciidoc':

  # Blocks
  #
  'Comment Block':
    description: 'Comment Block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#comments'
    prefix: '//'
    body: '''
      ////
      $1
      ////
      $0
      '''
  'Sidebar Block':
    description: 'Sidebar block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#delimited-blocks'
    prefix: '**'
    body: '''
      .${1:Title}
      ****
      ${2}
      ****
      $0
      '''
  'Example Block':
    description: 'Example Block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#example'
    prefix: '=='
    body: '''
      .${1:Title}
      ====
      ${2}
      ====
      $0
      '''
  'Listing Block':
    description: 'Listing Block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#listing-blocks'
    prefix: '--'
    body: '''
      [source, $1]
      ----
      $2
      ----
      $0
      '''
  'Literal Block':
    description: 'Literal Block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#literal-text-and-blocks'
    prefix: '/..'
    body: '''
      ....
      $1
      ....
      $0
      '''
  'Passthrough Block':
    description: 'Passthrough Block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#pass-bl'
    prefix: '++'
    body: '''
      ++++
      $1
      ++++
      $0
      '''
  'Quote Block':
    description: 'Quote Block'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#quote'
    prefix: '__'
    body: '''
      [quote, ${1:attribution}, ${2:citetitle}]
      ____
      $3
      ____
      $0
      '''

  'Table':
    description: 'Table'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#tables'
    prefix: '|='
    body: '''
      ${1:Legend}
      [width="${2:100%}", cols="$3", options="$4"]
      |===
      |$5
      |===
      '''

  # Macro
  #
  'Keyboard':
    description: 'Keyboard shortcuts'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#keyboard-shortcuts'
    prefix: 'akbd'
    body: 'kbd:[$1] $0'
  'Menu selection':
    description: 'Menu Selection'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#menu-selections'
    prefix: 'amenu'
    body: 'menu:$1[$2] $0'
  'UI buttons':
    description: 'UI buttons'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#ui-buttons'
    prefix: 'abtn'
    body: 'btn:[$1] $0'
  'Inline Icons':
    description: 'Inline Icons'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#inline-icons'
    prefix: 'aicon'
    body: 'icon:$1[$2] $0'
  'Link macro':
    description: 'Link macro'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#url'
    prefix: 'alink'
    body: 'link:${1:url}[$2] $0'
  'mailto link':
    description: 'mailto link'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#url'
    prefix: 'amailto'
    body: 'mailto:${1:email}[$2] $0'
  'stem':
    description: 'stem'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#activating-stem-support'
    prefix: 'astem'
    body: 'stem:$2[$1] $0'
  'stem asciimath':
    description: 'stem asciimath'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#activating-stem-support'
    prefix: 'aasciimath'
    body: 'asciimath:$2[$1] $0'
  'stem latexmath':
    description: 'stem latexmath'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#activating-stem-support'
    prefix: 'alatexmath'
    body: 'latexmath:$2[$1] $0'
  'Footnote':
    description: 'Footnote'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#user-footnotes'
    prefix: 'afootnote'
    body: 'footnote:[$1] $0'
  'Footnote reference':
    description: 'Footnote reference'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#user-footnotes'
    prefix: 'afootnoteref'
    body: 'footnoteref:[$1] $0'

  # Headings
  #
  'Heading 0':
    description: 'Heading 0 (one-liner)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=0'
    body: '''
       $1

      $0
      '''
  'Heading 1':
    description: 'Heading 1 (one-liner)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=1'
    body: '''
      = $1

      $0
      '''
  'Heading 2':
    description: 'Heading 2 (one-liner)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=2'
    body: '''
      == $1

      $0
      '''
  'Heading 3':
    description: 'Heading 3 (one-liner)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=3'
    body: '''
      === $1

      $0
      '''
  'Heading 4':
    description: 'Heading 4 (one-liner)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=4'
    body: '''
      ==== $1

      $0
      '''
  'Heading 5':
    description: 'Heading 5 (one-liner)'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#sections'
    prefix: '=5'
    body: '''
      ===== $1

      $0
      '''

  # Others
  #
  'Author':
    description: 'Author and Email'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#author-and-email'
    prefix: 'aauthor'
    body: '${1:author} <${2:email}>$0'
  'Revision information':
    description: 'A document\'s revision information'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#revision-number-date-and-remark'
    prefix: 'arev'
    body: '''
      v1.0, ${3:revdate}: ${4:revremark}
      $0
      '''
  'Subscript':
    description: 'subscript'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#subscript-and-superscript'
    prefix: 'asub'
    body: '~$1~ $0'
  'Superscript':
    description: 'superscript'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#subscript-and-superscript'
    prefix: 'asub'
    body: '^$1^ $0'
  'Callout':
    description: 'Callout numbers'
    descriptionMoreURL: 'http://asciidoctor.org/docs/user-manual/#callouts'
    prefix: 'acallout'
    body: '<$1> $0'
