'name': 'AsciiDoc'
'scopeName': 'source.asciidoc'
'fileTypes': [
  'ad'
  'asc'
  'adoc'
  'asciidoc'
]

'patterns': [

  # Includes inline patterns, see repository section below.
  {
    'include': '#inline'
  }

  # Includes AsciiDoc and Markdown style code blocks, see repository section
  # below.
  {
    'include': '#codeBlocks'
  }

  # Matches section titles (headers)
  #
  # Examples
  #
  #   = Document Title (Level 0)
  #
  #   == Level 1 Section
  #
  #   === Level 2 Section
  {
    'begin': '^={1,6}\\s+'
    'end': '$'
    'name': 'markup.heading.asciidoc'
    'patterns': [
      'include': '$self'
    ]
  }

  # Matches attributes
  #
  # Examples
  #
  #   :icons: font
  #   :sectanchors:
  {
    'match': '(\\:)([^\/\\:\\s]+)(\\:)(\\s+\\S+)?$'
    'name': 'support.constant.asciidoc'
    'captures':
      '4': 'name': 'variable.asciidoc'
  }

  # Matches block comments
  #
  # Examples
  #
  #   ////
  #   A multi-line comment.
  #
  #   Notice it's a delimited block.
  #   ////
  {
    'begin': '(^/{4,}$)'
    'end': '\\1'
    'name': 'comment.block.asciidoc'
  }

  # Matches admonition blocks
  #
  # Examples
  #
  #   TIP: Pro tip..
  #
  #   IMPORTANT: Don't forget...
  {
    'begin': '^((NOTE|TIP|IMPORTANT|WARNING|CAUTION)\\:)'
    'end': '$'
    'name': 'markup.admonition.asciidoc'
    'captures':
      '1': 'name': 'support.constant.asciidoc'
    'patterns': [
      { 'include': '#inline' }
    ]
  }

  # Matches tables. Supports cell spans, alignments and styles.
  #
  # Examples
  #
  #   |===
  #   |Name |Purpose |Substitution
  #
  #   h|comment
  #   a|Private notes that are not displayed in the output
  #   |none
  #
  #   h|literal
  #   |Output text to be displayed exactly as entered
  #   |verbatim
  #   |===
  {
    'begin': '^(\\|={3,}\\s*)$'
    'beginCaptures':
      '0': 'name': 'support.table.asciidoc'
    'end': '^\\1$'
    'endCaptures':
      '0': 'name': 'support.table.asciidoc'
    'patterns': [
      # Match non-escaped vertical column delimiters
      {
        # Regex groups:
        #   1 - matches beginning of the line or a whitespace to separate a
        #       column from the previous one.
        #   2 - matches cell spans, alignments, styles, and the vertical bar
        #   3 - negative lookahead prevents highlighting of several vertical
        #       bars followed in a row and triple equal signs that can close the
        #       table (triple equal sign is the issue only for unit tests)
        'match': '(^|\\s+)([^\\|\\s\\\\]*\\|)(?!={3,}|\\|)'
        'captures':
          '2': 'name': 'support.table.asciidoc'
      }
      { 'include': '#inline' }
    ]
  }

  # Matches ordered and unordered list items
  #
  # Examples
  #
  #   * level 1
  #   ** level 2
  #   *** level 3
  #
  #   . level 1
  #   .. level 2
  #   ... level 3
  {
    'match': '^\\s*([\\*\\-\\.]{1,5})[ \\t]+'
    'name': 'markup.list.asciidoc'
    'captures':
      '1': 'name': 'markup.list.bullet.asciidoc'
  }
]

'repository':
  'inline':
    'patterns': [

      # Matches bold pharses
      #
      # Examples
      #
      #   *bold phrase*
      {
        'match': '(?<=^|\\s)(\\*[^\\*]+\\*)'
        'captures':
          '0': 'name': 'markup.bold.asciidoc'
      }

      # Matches italic pharses
      #
      # Examples
      #
      #   _italic phrase_
      {
        'match': '(?<=^|\\s)(_[^_]+_)'
        'captures':
          '0': 'name': 'markup.italic.asciidoc'
      }

      # Matches substitutions
      #
      # Examples
      #
      #   Check out {docslink} too!
      #
      #   {checkedbox} That's done!
      {
        'match': '({)([^\/\\:\\s]+)(})'
        'name': 'markup.substitution.asciidoc'
      }

      # Matches raw inlines
      #
      # Examples
      #
      #   `Text in {backticks}` renders exactly as entered, in `monospace`.
      {
        'match': '`[^`]+`'
        'name': 'markup.raw.inline.asciidoc'
      }
    ]
  'codeBlocks':
    'patterns': [

      ##########################################################################
      #                                                                        #
      #                       AsciiDoc Style Code Blocks                       #
      #                                                                        #
      ##########################################################################

      # Matches JavaScript AsciiDoc code blocks
      #
      # Examples
      #
      #   [source,js]
      #   ----
      #   var http = require('http');
      #   http.createServer(function (req, res) {
      #     res.end('Hello World\n');
      #   }).listen(1337, '127.0.0.1');
      #   ----
      {
        'begin': '^\\[source,\\s*(javascript|js)\\]$'
        'beginCaptures':
          '0': 'name': 'support.asciidoc'
        'end': '^\\s*$'
        'patterns': [
          {
            'begin': '(^\\s*-{4,}\\s*$)'
            'beginCaptures':
              '0': 'name': 'support.asciidoc'
            'end': '\\1'
            'endCaptures':
              '0': 'name': 'support.asciidoc'
            'patterns': ['include': 'source.js']
          }
        ]
      }

      # Matches Ruby AsciiDoc code blocks
      #
      # Examples
      #
      #   [source,ruby]
      #   ----
      #   require 'sinatra'
      #
      #   get '/hi' do
      #     "Hello World!"
      #   end
      #   ----
      {
        'begin': '^\\[source,\\s*(ruby|rb)\\]$'
        'beginCaptures':
          '0': 'name': 'support.asciidoc'
        'end': '^\\s*$'
        'patterns': [
          {
            'begin': '(^\\s*-{4,}\\s*$)'
            'beginCaptures':
              '0': 'name': 'support.asciidoc'
            'end': '\\1'
            'endCaptures':
              '0': 'name': 'support.asciidoc'
            'patterns': ['include': 'source.ruby']
          }
        ]
      }

      # Matches language-agnostic AsciiDoc code blocks
      #
      # Examples
      #
      #   [source]
      #   ----
      #   require 'sinatra'
      #
      #   get '/hi' do
      #     "Hello World!"
      #   end
      #   ----
      {
        'begin': '^\\[source(,[^\\],]*)?\\]$'
        'beginCaptures':
          '0': 'name': 'support.asciidoc'
        'end': '^\\s*$'
        'patterns': [
          {
            'begin': '(^\\s*-{4,}\\s*$)'
            'beginCaptures':
              '0': 'name': 'support.asciidoc'
            'end': '\\1'
            'endCaptures':
              '0': 'name': 'support.asciidoc'
            'name': 'markup.raw.asciidoc'
          }
        ]
      }


      ##########################################################################
      #                                                                        #
      #                       Markdown Style Code Blocks                       #
      #                                                                        #
      ##########################################################################

      # Matches JavaScript Markdown-style code blocks
      #
      # Examples
      #
      #   [source,js]
      #   ----
      #   var http = require('http');
      #   http.createServer(function (req, res) {
      #     res.end('Hello World\n');
      #   }).listen(1337, '127.0.0.1');
      #   ----
      {
        'begin': '^`{3,}\\s*(javascript|js)\\s*$'
        'beginCaptures':
          '0': 'name': 'support.asciidoc'
        'end': '^`{3,}$'
        'endCaptures':
          '0': 'name': 'support.asciidoc'
        'patterns': ['include': 'source.js']
      }

      # Matches Ruby Markdown-style code blocks
      #
      # Examples
      #
      #   ```ruby
      #   require 'sinatra'
      #
      #   get '/hi' do
      #     "Hello World!"
      #   end
      #   ```
      {
        'begin': '^`{3,}\\s*(ruby|rb)\\s*$'
        'beginCaptures':
          '0': 'name': 'support.asciidoc'
        'end': '^`{3,}$'
        'endCaptures':
          '0': 'name': 'support.asciidoc'
        'patterns': ['include': 'source.ruby']
      }

      # Matches language-agnostic Markdown code blocks
      #
      # Examples
      #
      #   ```
      #   require 'sinatra'
      #
      #   get '/hi' do
      #     "Hello World!"
      #   end
      #   ```
      {
        'begin': '^`{3,}.*$'
        'beginCaptures':
          '0': 'name': 'support.asciidoc'
        'end': '^`{3,}$'
        'endCaptures':
          '0': 'name': 'support.asciidoc'
        'name': 'markup.raw.asciidoc'
      }
    ]
