key: 'admonition-block'

patterns: [

  # Matches admonition blocks
  #
  # Examples
  #
  #   TIP: Pro tip...
  #
  #   IMPORTANT: Don't forget...
  #
  name: 'markup.admonition.asciidoc'
  begin: '^((NOTE|TIP|IMPORTANT|WARNING|CAUTION)\\:)\\p{Blank}+'
  captures:
    1: name: 'support.constant.label.asciidoc'
  patterns: [
    include: '#inlines'
  ]
  end: '^\\p{Blank}*$'
]
