key: 'passthrough-block'

patterns: [

  # Matches passthrough block
  #
  # Examples
  #
  # ++++
  # <s>Could be struck through</s>
  # ++++
  #
  name: 'markup.block.passthrough.asciidoc'
  begin: '(^\\+{4,}$)'
  patterns: [
    include: 'text.html.basic'
  ]
  end: '\\1'
]
