key: 'quote-block'

patterns: [

  # Matches quote declaration
  #
  # Examples
  #
  # [quote]
  # ____
  # Huh?
  # ____
  #
  # [quote, Homer Simpson]
  # ____
  # D'oh!
  # ____
  #
  # [quote, Erwin Schrödinger, Sorry]
  # ____
  # I don't like it, and I'm sorry I ever had anything to do with it.
  # ____
  #
  name: 'markup.italic.quotes.attributes.asciidoc'
  begin: '^\\[(quote|verse)(, ([\\w ]+))?(, ([\\w ]+))?'
  beginCaptures:
    1: name: 'none.quotes.label.asciidoc'
    3: name: 'none.quotes.attribution.asciidoc'
    5: name: 'none.quotes.citetitle.asciidoc'
  end: '\\]$'
,
  # Matches quote block
  name: 'markup.italic.quotes.asciidoc'
  begin: '(^_{4,}$)'
  patterns: [
    include: '#inlines'
  ]
  end: '\\1'
,
  # Matches Markdown style quote
  #
  # > I don't like it, and I'm sorry I ever had anything to do with it.
  # Erwin Schrödinger, Sorry
  #
  name: 'markup.italic.quotes.asciidoc'
  begin: '^\\p{Blank}*(>) '
  patterns: [
    include: '#inlines'
  ]
  end: '^\\p{Blank}*?$'

]
