key: 'table'

patterns: [

  # Matches tables. Supports cell spans, alignments and styles.
  #
  # Examples
  #
  #   |===
  #   |Name |Purpose |Substitution
  #
  #   h|comment
  #   a|Private notes that are not displayed in the output
  #   |none
  #
  #   h|literal
  #   |Output text to be displayed exactly as entered
  #   |verbatim
  #   |===
  #
  begin: '^(\\|={3,}\\s*)$'
  beginCaptures:
    0: name: 'support.table.asciidoc'
  patterns: [
    # Match non-escaped vertical column delimiters
    # Regex groups:
    #   1 - matches beginning of the line or a whitespace to separate a
    #       column from the previous one.
    #   2 - matches cell specs (spans, alignments, styles, etc.)
    #   3 - matches the vertical bar.
    #   4 - negative lookahead prevents highlighting of several vertical
    #       bars followed in a row and triple equal signs that can close the
    #       table (triple equal sign is the issue only for unit tests)
    match: '(^|\\s+)([^\\|\\s\\\\]*)(\\|)(?!={3,}|\\|)'
    captures:
      2: name: 'support.table.spec.asciidoc'
      3: name: 'support.table.asciidoc'
    ,
      include: '#inline'
  ]
  end: '^\\1$'
  endCaptures:
    0: name: 'support.table.asciidoc'
]
