key: 'attribute-entry'

patterns: [

  # Matches attributes
  #
  # Examples
  #
  #   :icons: font
  #   :sectanchors:
  #   :!compat-mode:
  #
  name: 'meta.definition.attribute-entry.asciidoc'
  match: '^(:)(!?\\w[\\p{Blank}\\w-]*?|\\w[\\p{Blank}\\w-]*?!?)(:)(\\p{Blank}+.*)?$'
  captures:
    1: name: 'punctuation.separator.attribute-entry.asciidoc'
    2: name: 'support.constant.attribute-name.asciidoc'
    3: name: 'punctuation.separator.attribute-entry.asciidoc'
    4: name: 'string.unquoted.attribute-value.asciidoc'
]
