key: 'callout-list-item'

patterns: [

  # Matches a callout list item.
  #
  # Examples
  #
  #   <1> Foo
  #
  name: 'callout.asciidoc'
  match: '^(<)(\\d+)(>)\\p{Blank}+(.*)$'
  captures:
    1: name: 'constant.other.symbol.asciidoc'
    2: name: 'constant.numeric.asciidoc'
    3: name: 'constant.other.symbol.asciidoc'
    4: patterns: [include: '#inlines']
]
