key: 'explicit-paragraph'

patterns: [

  # Matches explicit paragraph styles
  #
  # Examples
  #
  #   [normal]
  #   This is a normal paragraph.
  #
  name: 'markup.explicit.asciidoc'
  match: '^\\[((normal|literal|listing|TIP|NOTE|IMPORTANT|WARNING|CAUTION|partintro|comment|example|sidebar|source|music|latex|graphviz))\\]$'
  captures:
    1: name: 'support.constant.asciidoc'
]
