key: 'list'

patterns: [

  # Matches todo lists
  #
  # Examples
  #
  # - [ ] todo
  # - [x] done
  # - [*] done
  #
  match: '^\\s*(-)\\s(\\[[\\s\\*x]\\])(?=\\s)'
  name: 'markup.todo.asciidoc'
  captures:
    1: name: 'markup.list.bullet.asciidoc'
    2: name: 'markup.todo.box.asciidoc'
,
  # Matches ordered and unordered list items
  #
  # Examples
  #
  #   * level 1
  #   ** level 2
  #   *** level 3
  #
  #   . level 1
  #   .. level 2
  #   ... level 3
  #
  name: 'markup.list.asciidoc'
  match: '^\\s*([\\*\\-\\.]{1,5})[ \\t]+'
  captures:
    1: name: 'markup.list.bullet.asciidoc'
]
