key: 'list'

patterns: [

  # Matches todo lists
  #
  # Examples
  #
  # - [ ] todo
  # - [x] done
  # - [*] done
  #
  match: '^\\s*(-)\\p{Blank}(\\[[\\p{Blank}\\*x]\\])(?=\\p{Blank})'
  name: 'markup.todo.asciidoc'
  captures:
    1: name: 'markup.list.bullet.asciidoc'
    2: name: 'markup.todo.box.asciidoc'
,
  # Matches an unordered list item (one level for hyphens, up to 5 levels for asterisks).
  #
  # Examples
  #
  #   * Foo
  #   - Foo
  #
  name: 'markup.list.asciidoc'
  match: '^\\p{Blank}*(-|\\*{1,5}|\\u2022{1,5})(?=\\p{Blank})'
  captures:
    1: name: 'markup.list.bullet.asciidoc'
,
  # Matches an ordered list item (explicit numbering or up to 5 consecutive dots).
  #
  # Examples
  #
  #   . Foo
  #   .. Foo
  #   1. Foo (arabic, default)
  #   a. Foo (loweralpha)
  #   A. Foo (upperalpha)
  #   i) Foo (lowerroman)
  #   I) Foo (upperroman)
  #
  name: 'markup.list.asciidoc'
  match: '^\\p{Blank}*(\\.{1,5}|\\d+\\.|[a-zA-Z]\\.|[IVXivx]+\\))(?=\\p{Blank})'
  captures:
    1: name: 'markup.list.bullet.asciidoc'

,
  # Matches a definition list item.
  #
  # Examples
  #
  #   foo::
  #   foo:::
  #   foo::::
  #   foo;;
  #
  name: 'markup.heading.list.asciidoc'
  match: '^\\p{Blank}*(.*?\\S)(:{2,4}|;;)($|\\p{Blank}+)'
  captures:
    1:
      patterns: [
        include: '#link-macro'
      ,
        include: '#attribute-reference'
      ]
    2: name: 'markup.list.bullet.asciidoc'
]
