key: 'table-csv'

patterns: [

  # Matches DSV tables.
  #
  # Examples:
  #
  # ,===
  # Artist,Track,Genre
  #
  # Tool,Stinkfist,Metal
  # The Lumineers,Ho Hey,Folk Rock
  # Baauer,Harlem Shake,Hip Hop
  # ,===
  #
  name: 'markup.table.csv.asciidoc'
  begin: '^(,===)$'
  beginCaptures:
    0: name: 'markup.table.delimiter.asciidoc'
  contentName: 'string.unquoted.asciidoc'
  patterns: [
    include: 'text.csv'
  ,
    comment: 'cell separator'
    match: ','
    captures:
      0: name: 'markup.table.cell.delimiter.asciidoc'
  ,
    include: '#general-block-macro'
  ]
  end: '^(\\1)$'
  endCaptures:
    0: name: 'markup.table.delimiter.asciidoc'
]
