.editor {
  .asciidoc {
    .markup.heading {
      font-weight: bold;
      color: #eee;
    }
    .markup.comment.block {
      font-style: italic;
    }
    .markup.admonition.asciidoc {
      font-style: italic;
      .title {
        color: #FF73FD;
      }
    }
    .markup.raw {
      background-color: #2f2f2f;
      border-radius: 2px;
      border: 1px solid #444;
    }
  }
}
