.editor {
  .asciidoc {
    .markup.heading {
      font-weight: bold;
      color: #eee;
    }
    .markup.comment.block {
      font-style: italic;
    }
    .markup.admonition.asciidoc {
      font-style: italic;
      .title {
        color: #FF73FD;
      }
    }
  }
}
