key: 'anchor-macro'

patterns: [

  # Matches an anchor (i.e., id + optional reference text) in the flow of text.
  #
  # Examples
  #
  #   [[idname]]
  #   [[idname,Reference Text]]
  #
  match: '\\\\?(?:(\\[{2})([\\p{Alpha}:_][\\p{Word}:.-]*)(?:,\\p{Blank}*(\\S.*?))?(\\]{2}))'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'markup.blockid.asciidoc'
    4: name: 'support.constant.asciidoc'
,
  # Matches an anchor (i.e., id + optional reference text) in the flow of text.
  #
  # Examples
  #
  #   anchor:idname[]
  #   anchor:idname[Reference Text]
  #
  match: '\\\\?(anchor:)(\\S+)(\\[)(.*?[^\\\\])?(\\])'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'markup.blockid.asciidoc'
    3: name: 'support.constant.asciidoc'
    4: name: 'support.constant.asciidoc'
    5: name: 'support.constant.asciidoc'
]
