key: 'bibliography-anchor'

patterns: [

  # Matches a bibliography anchor anywhere inline.
  #
  # Examples
  #
  #   [[[bib-ref]]]
  #
  name: 'bibliography-anchor.asciidoc'
  match: '(?<!\\\\)(\\[{3})([\\p{Word}:][\\p{Word}:.-]*?)(\\]{3})'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'markup.biblioref.asciidoc'
    3: name: 'support.constant.asciidoc'
]
