key: 'characters'

patterns: [

  # Matches characters references.
  #
  # Examples
  #
  #   Dungeons &amp; Dragons
  #
  name: 'markup.character-reference.asciidoc'
  match: '(?<!\\\\)(\&)(\\S+?)(;)'
  captures:
    1: name: 'constant.character.asciidoc'
    3: name: 'constant.character.asciidoc'
]
