key: 'characters'

patterns: [

  # Matches characters
  #
  # Examples
  #
  #   Dungeons &amp; Dragons
  #
  name: 'markup.htmlentity.asciidoc'
  match: '(\&)(\\S+?)(;)'
  captures:
    1: name: 'punctuation.definition.entity.asciidoc'
    3: name: 'punctuation.definition.entity.asciidoc'
]
