key: 'emphasis'

patterns: [

  # Matches emphasis unconstrained phrases
  #
  # Examples
  #
  #   e__mphasis__ phrase
  #
  name: 'markup.emphasis.unconstrained.asciidoc'
  match: '(?<!\\\\\\\\)(\\[(?:[^\\]]+?)\\])?(__)((?!_).+?)(__)' # now including the underscores in the match
  captures:
    1: name: 'markup.meta.attrlist.asciidoc'
    2: name: 'punctuation.definition.italic.asciidoc'
    3: name: 'markup.italic.emphasis.asciidoc'
    4: name: 'punctuation.definition.italic.asciidoc'
,
  # Matches emphasis constrained phrases
  #
  # Examples
  #
  #   _emphasis phrase_
  #
  name: 'markup.emphasis.constrained.asciidoc'
  match: '(?!_{4,}\\s*$)(?<=^|[^\\p{Word};:])(\\[(?:[^\\]]+?)\\])?(_)(\\S|\\S.*?\\S)(_)(?!\\p{Word})'
  captures:
    1: name: 'markup.meta.attrlist.asciidoc'
    2: name: 'punctuation.definition.italic.asciidoc'
    3: name: 'markup.italic.emphasis.asciidoc'
    4: name: 'punctuation.definition.italic.asciidoc'
]
