key: 'footnote-macro'

patterns: [

  # Matches an inline footnote macro, which is allowed to span multiple lines.
  #
  # Examples
  #   footnote:[text]
  #   footnoteref:[id,text]
  #   footnoteref:[id]
  #
  name: 'markup.link.footnote.asciidoc'
  match: '\\\\?(footnote(?:ref)?):\\[(.*?[^\\\\])\\]'
  captures:
    2: name: 'support.constant.footnote.inline.asciidoc'
]
