key: 'footnote-macro'

patterns: [

  # Matches an inline footnote macro, which is allowed to span multiple lines.
  #
  # Examples
  #
  #   footnote:[text]
  #   footnoteref:[id,text]
  #   footnoteref:[id]
  #
  name: 'markup.other.footnote.asciidoc'
  begin: '(?<!\\\\)(footnote(?:ref)?):\\['
  beginCaptures:
    1: name: 'entity.name.function.asciidoc'
  contentName: 'string.unquoted.asciidoc'
  patterns: [
     include: '#inlines'
   ]
  end: '\\]|^$'
]
