key: 'general-block-macro'

patterns: [

 # Matches the general block macro pattern.
 #
 # Examples
 #
 #   gist::123456[]
 #
 name: 'markup.macro.block.general.asciidoc'
 match: '^(\\p{Word}+)::(\\S*?)\\[((?:\\\\\\]|[^\\]])*?)\\]$'
 captures:
   1: name: 'entity.name.function.asciidoc'
   2: name: 'markup.link.asciidoc'
   3: name: 'string.unquoted.asciidoc'
]
