key: 'general-block-macro'

patterns: [

 # Matches the general block macro pattern.
 #
 # Examples
 #
 #   gist::123456[]
 #
 name: 'markup.macro.block.general.asciidoc'
 match: '^(\\p{Word}+)(::)(\\S*?)(\\[)((?:\\\\\\]|[^\\]])*?)(\\])$'
 captures:
  1: name: 'entity.name.function.asciidoc'
  2: name: 'punctuation.separator.asciidoc'
  3:
    name: 'markup.link.asciidoc'
    patterns: [
      include: '#attribute-reference'
    ]
  4: name: 'punctuation.separator.asciidoc'
  5:
    name: 'string.unquoted.asciidoc'
    patterns: [
      include: '#attribute-reference'
    ]
  6: name: 'punctuation.separator.asciidoc'
]
