key: 'image-macro'

patterns: [

  # Matches an image or icon inline macro.
  #
  # Examples
  #
  #   image:filename.png[Alt Text]
  #   image:http://example.com/images/filename.png[Alt Text]
  #   image:filename.png[More [Alt\] Text] (alt text becomes "More [Alt] Text")
  #   icon:github[large]
  #
  name: 'markup.macro.image.asciidoc'
  match: '(?<!\\\\)(image|icon):([^:\\[][^\\[]*)\\[((?:\\\\\\]|[^\\]])*?)\\]'
  captures:
    1: name: 'entity.name.function.asciidoc'
    2: name: 'markup.link.asciidoc'
    3: name: 'string.unquoted.asciidoc'
]
