key: 'kbd-macro'

patterns: [

  # Matches either the kbd or btn inline macro.
  #
  # Examples
  #
  #   kbd:[F3]
  #   kbd:[Ctrl+Shift+T]
  #   kbd:[Ctrl+\]]
  #   kbd:[Ctrl,T]
  #   btn:[Save]
  #
  name: 'markup.macro.kbd.asciidoc'
  match: '(?<!\\\\)(kbd|btn):(\\[)((?:\\\\\\]|[^\\]])+?)(\\])'
  captures:
    1: name: 'entity.name.function.asciidoc'
    3: name: 'string.unquoted.asciidoc'
]
