key: 'link-macro'

patterns: [

  # Matches an implicit link and some of the link inline macro.
  #
  # Examples
  #
  #   http://github.com
  #   http://github.com[GitHub]
  #
  name: 'markup.link.inline.asciidoc'
  match: '(^|link:|<|[\\s>\\(\\)\\[\\];])(\\\\?(?:https?|file|ftp|irc)://[^\\s\\[\\]<]*[^\\s.,\\[\\]<])(?:\\[((?:\\\\\\]|[^\\]])*?)\\])?'
  captures:
    2: name: 'support.constant.link.inline.asciidoc'
,
  # Match a link or e-mail inline macro
  # Examples
  #
  #   link:path[label]
  #   mailto:doc.writer@example.com[]
  #
  name: 'markup.link.inline.asciidoc'
  match: '\\\\?(?:link|mailto):([^\\s\\[]+)(?:\\[((?:\\\\\\]|[^\\]])*?)\\])'
  captures:
    1: name: 'support.constant.link.inline.asciidoc'
,
  # Matches a menu inline macro.
  #
  # Examples
  #
  #   menu:File[New...]
  #   menu:View[Page Style > No Style]
  #   menu:View[Page Style, No Style]
  #
  name: 'markup.link.menu.inline.asciidoc'
  match: '\\\\?menu:(\\p{Word}|\\p{Word}.*?\\S)\\[\\p{Blank}*(.+?)?\\]'
  captures:
    1: name: 'support.constant.menu.inline.asciidoc'
,
  # Matches block macros
  #
  # Examples
  #
  #   image::tiger.png[Tyger tyger]
  #
  name: 'markup.macro.block.asciidoc'
  match: '(?<=^|\\s)(\\w+\:{2})([^\:]*?)(\\[)([^\\]]*?)(\\])'
  captures:
    1: name: 'support.constant.asciidoc'
    3: name: 'support.constant.asciidoc'
    5: name: 'support.constant.asciidoc'
,
  # Matches the pass inline macro allowed in value of attribute assignment.
  #
  # Examples
  #
  #   pass:[text]
  #
  name: 'markup.reference.pass.asciidoc'
  match: '^(pass:)([a-z,]*)\\[(.*)\\]$'
  captures:
    1: name: 'support.constant.pass.inline.asciidoc'
]
