key: 'link-macro'

patterns: [

  # Matches an implicit link and some of the link inline macro.
  #
  # Examples
  #
  #   http://github.com
  #   http://github.com[GitHub]
  #
  name: 'markup.other.url.asciidoc'
  match: '(?:^|<|[\\s>\\(\\)\\[\\];])((?<!\\\\)(?:https?|file|ftp|irc)://[^\\s\\[\\]<]*[^\\s.,\\[\\]<\\)])(?:\\[((?:\\\\\\]|[^\\]])*?)\\])?'
  captures:
    1:
      name: 'markup.link.asciidoc'
      patterns: [
        include: '#attribute-reference'
      ]
    2: name: 'string.unquoted.asciidoc'
,
  # Matches an implicit link with only attribute reference.
  # attribute must beginning with `uri-`
  #
  # Examples
  #
  #   {uri-repo}[GitHub]
  #
  name: 'markup.other.url.asciidoc'
  match: '(?:^|<|[\\p{Blank}>\\(\\)\\[\\];])((?<!\\\\)\\{uri-\\w+(?:[\\-]\\w+)*(?<!\\\\)\\})(?:\\[((?:\\\\\\]|[^\\]])*?)\\])'
  captures:
    1: name: 'markup.substitution.attribute-reference.asciidoc'
    2: name: 'string.unquoted.asciidoc'
,
  # Match a link or e-mail inline macro
  # Examples
  #
  #   link:path[label]
  #   mailto:doc.writer@example.com[]
  #
  name: 'markup.other.url.asciidoc'
  match: '(?<!\\\\)(link|mailto):([^\\s\\[]+)(?:\\[((?:\\\\\\]|[^\\]])*?)\\])'
  captures:
    1: name: 'entity.name.function.asciidoc'
    2:
      name: 'markup.link.asciidoc'
      patterns: [
        include: '#attribute-reference'
      ]
    3: name: 'string.unquoted.asciidoc'
,
  # Matches an inline e-mail address.
  #
  #   doc.writer@example.com
  #
  name: 'markup.link.email.asciidoc'
  match: '\\p{Word}[\\p{Word}.%+-]*(@)\\p{Alnum}[\\p{Alnum}.-]*(\\.)\\p{Alpha}{2,4}\\b'
]
