key: 'monospaced'

patterns: [

  # Matches constrained monospaced inlines
  #
  # Examples
  #
  #   `Text in backticks` renders exactly as entered, in `monospaced`.
  #
  name: 'markup.raw.constrained.monospaced.asciidoc'
  match: '(^|[^\\p{Word};:"\'`}])(?:\\[([^\\]]+?)\\])?`(\\S|\\S.*?\\S)`(?![\\p{Word}"\'`])'
,
  # Matches unconstrained monospaced inlines
  #
  # Examples
  #`
  #   Text in back``ticks`` renders exactly as entered, in mono``spaced``.
  #
  name: 'markup.raw.unconstrained.monospaced.asciidoc'
  match: '\\\\?(?:\\[([^\\]]+?)\\])?``(.+?)``'
]
