key: 'pass-macro'

patterns: [

  # Matches the pass inline macro allowed in value of attribute assignment.
  #
  # Examples
  #
  #   pass:[text]
  #
  name: 'markup.reference.pass.asciidoc'
  match: '^(pass:)([a-z,]*)\\[(.*)\\]$'
  captures:
    1: name: 'support.constant.pass.inline.asciidoc'
]
