key: 'passthrough-macro'

patterns: [

  # Matches several variants of the passthrough inline macro, which may span multiple lines.
  #
  # Examples
  #
  #   +++text+++
  #   $$text$$
  #
  name: 'markup.macro.inline.passthrough.asciidoc'
  match: '(?:(?<!\\\\)(\\[([^\\]]+?)\\]))?(?:\\\\{0,2})(?<delim>\\+{2,3}|\\${2})(.*?)(\\k<delim>)'
  captures:
    1: name: 'markup.meta.attribute-list.asciidoc'
    3: name: 'support.constant.asciidoc'
    4:
      name: 'string.unquoted.asciidoc'
      patterns: [
        include: 'text.html.basic'
      ]
    5: name: 'support.constant.asciidoc'
,
  # Matches several variants of the passthrough inline macro, which may span multiple lines.
  #
  # Examples
  #
  #   pass:quotes[text]
  #
  name: 'markup.macro.inline.passthrough.asciidoc'
  begin: '(?<!\\\\)(pass:)([a-z,]*)(\\[)'
  beginCaptures:
    1: name: 'entity.name.function.asciidoc'
    2: name: 'markup.meta.attribute-list.asciidoc'
  contentName: 'string.unquoted.asciidoc'
  patterns: [
    include: 'text.html.basic'
  ]
  end: '\\]|^$'
]
