key: 'stem-macro'

patterns: [

  # Matches a stem (and alternatives, asciimath and latexmath) inline macro.
  #
  # Examples
  #
  #   stem:[x != 0]
  #   asciimath:[x != 0]
  #   latexmath:[\sqrt{4} = 2]
  #
  name: 'markup.macro.inline.stem.general.asciidoc'
  match: '\\\\?(stem|(?:latex|ascii)math):([a-z,]*)(\\[)(.*?[^\\\\])(\\])'
  captures:
    2: name: 'support.constant.asciidoc'
    4: name: 'support.constant.asciidoc'
]
