key: 'strong'

patterns: [

  # Matches strong unconstrained phrases
  #
  # Examples
  #
  #   s**trong** phrase
  #
  name: 'markup.strong.unconstrained.asciidoc'
  match: '(?<!\\\\\\\\)(\\[.+?\\])?(\\*\\*)(.+?)(\\*\\*)'
  captures:
    1: name: 'markup.meta.attrlist.asciidoc'
    2: name: 'punctuation.definition.entity.asciidoc'
    3: name: 'markup.bold.strong.asciidoc'
    4: name: 'punctuation.definition.entity.asciidoc'
,
  # Matches strong constrained phrases
  #
  # Examples
  #
  #   *strong phrase*
  #
  name: 'markup.strong.constrained.asciidoc'
  match: '(?<![\\\\;:\\p{Word}\\*])(\\[.+?\\])?(\\*)(\\S|\\S.*?\\S)(\\*)(?!\\p{Word})'
  captures:
    1: name: 'markup.meta.attrlist.asciidoc'
    2: name: 'punctuation.definition.entity.asciidoc'
    3: name: 'markup.bold.strong.asciidoc'
    4: name: 'punctuation.definition.entity.asciidoc'
]
