key: 'strong'

patterns: [

  # Matches strong unconstrained phrases
  #
  # Examples
  #
  #   **b**old character(s)
  #
  name: 'markup.bold.unconstrained.asciidoc'
  match: '(?<!\\\\\\\\)(?:\\[.+?\\])?(\\*\\*).+?(\\*\\*)'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'support.constant.asciidoc'
,
  # Matches strong constrained phrases
  #
  # Examples
  #
  #   *bold phrase*
  #
  name: 'markup.bold.constrained.asciidoc'
  match: '(?<![\\\\;:\\p{Word}\\*])(?:\\[.+?\\])?(\\*)(?:\\S|\\S.*?\\S)(\\*)(?!\\p{Word})'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'support.constant.asciidoc'
]
