key: 'subscript'

patterns: [
  # Matches subscript
  #
  # Examples
  #
  #   ~subscript~
  #
  name: 'markup.sub.asciidoc'
  match: '(?<!\\\\)(\\[.+?\\])?(~)(?:\\S+?)(~)'
  captures:
    1: name: 'markup.meta.attrlist.asciidoc'
    2: name: 'support.constant.asciidoc'
    3: name: 'support.constant.asciidoc'
]
