key: 'subscript'

patterns: [
  # Matches subscript
  #
  # Examples
  #
  #   ~subscript~
  #
  name: 'markup.subscript.asciidoc'
  match: '(?<!\\\\)(\\[.+?\\])?(~)(\\S+?)(~)'
  captures:
    1: name: 'markup.meta.attribute-list.asciidoc'
    2: name: 'punctuation.definition.sub.asciidoc'
    3: name: 'markup.sub.subscript.asciidoc'
    4: name: 'punctuation.definition.sub.asciidoc'
]
