key: 'superscript'

patterns: [
  # Matches superscript
  #
  # Examples
  #
  #   ^superscript^
  #
  name: 'markup.superscript.asciidoc'
  match: '(?<!\\\\)(\\[.+?\\])?(\\^)(\\S+?)(\\^)'
  captures:
    1: name: 'markup.meta.attrlist.asciidoc'
    2: name: 'punctuation.definition.entity.asciidoc'
    3: name: 'markup.super.superscript.asciidoc'
    4: name: 'punctuation.definition.entity.asciidoc'
]
