key: 'various-inlines'

patterns: [

  # Matches block ID elements
  #
  # Example: [[section-title]]
  #
  match: '(?<=^|\\s)(\\[{2})([^\\[\\]]+)(\\]{2})'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'markup.blockid.asciidoc'
    3: name: 'support.constant.asciidoc'
,
  # Matches bibliography entities
  #
  # Example: [[[bib-ref]]]
  #
  match: '(?<=^|\\s)(\\[{3})([^\\[\\]]+)(\\]{3})'
  captures:
    1: name: 'support.constant.asciidoc'
    2: name: 'markup.biblioref.asciidoc'
    3: name: 'support.constant.asciidoc'
,
  # Matches characters
  #
  # Examples
  #
  #   Dungeons &amp; Dragons
  #
  name: 'markup.htmlentity.asciidoc'
  match: '(\&)(.+?)(;)'
  captures:
    1: name: 'support.constant.asciidoc'
    3: name: 'support.constant.asciidoc'
]
