key: 'xref-macro'

patterns: [

  # Matches an xref (i.e., cross-reference) inline macro.
  #
  # Examples
  #
  #   <<id,reftext>>
  #
  name: 'markup.reference.xref.asciidoc'
  match: '(?<!\\\\)(?:(<<)([\\p{Word}":.\/]+,)?(.*?)(>>))'
  captures:
    1: name: 'constant.asciidoc'
    2: name: 'markup.meta.attribute-list.asciidoc'
    3: name: 'markup.raw.asciidoc'
    4: name: 'constant.asciidoc'
,
  # Matches an xref (i.e., cross-reference) inline macro, which may span multiple lines.
  #
  # Examples
  #
  #   xref:id[reftext]
  #
  name: 'markup.reference.xref.asciidoc'
  begin: '(?<!\\\\)(xref:)([\\p{Word}":.\\/].*?)(\\[)'
  beginCaptures:
    2: name: 'markup.meta.attribute-list.asciidoc'
  contentName: 'markup.raw.asciidoc'
  end: '\\]|^$'
]
