# Grammar master
name: ''
scopeName: ''
fileTypes: []

maxTokensPerLine: 100

patterns: [
  include: '#comment'
,
  include: '#callout-list-item'
,
  include: '#titles'
,
  include: '#attribute-entry'
,
  include: '#block-title'
,
  include: '#explicit-paragraph'
,
  include: '#section'
,
  include: '#blocks'
,
  include: '#horizontal-rule'
,
  include: '#list'
,
  include: '#inlines'
,
  include: '#line-break'
]
repository:
  blocks:
    patterns: [
      include: '#front-matter-block'
    ,
      include: '#admonition-block'
    ,
      include: '#quote-block'
    ,
      include: '#table'
    ,
      include: '#code-blocks'
    ,
      include: '#example-block'
    ,
      include: '#sidebar-block'
    ,
      include: '#literal-block'
    ,
      include: '#passthrough-block'
    ,
      include: '#open-block'
    ]
  'code-blocks':
    patterns: [
      include: '#source-asciidoctor'
    ,
      include: '#source-markdown'
    ]
  inlines:
    patterns: [
      include: '#strong'
    ,
      include: '#monospace'
    ,
      include: '#emphasis'
    ,
      include: '#superscript'
    ,
      include: '#subscript'
    ,
      include: '#general-block-macro'
    ,
      include: '#anchor-macro'
    ,
      include: '#footnote-macro'
    ,
      include: '#image-macro'
    ,
      include: '#kbd-macro'
    ,
      include: '#link-macro'
    ,
      include: '#stem-macro'
    ,
      include: '#menu-macro'
    ,
      include: '#passthrough-macro'
    ,
      include: '#xref-macro'
    ,
      include: '#attribute-reference'
    ,
      include: '#characters'
    ,
      include: '#bibliography-anchor'
    ]
