# Grammar master
name: ''
scopeName: ''
fileTypes: []

maxTokensPerLine: 100

patterns: [
  include: '#comment'
,
  include: '#list'
,
  include: '#titles'
,
  include: '#various'
,
  include: '#blocks'
,
  include: '#inlines'
]
repository:
  blocks:
    patterns: [
      include: '#admonition'
    ,
      include: '#quote'
    ,
      include: '#table'
    ,
      include: '#code-blocks'
    ,
      include: '#various-blocks'
    ]
  'code-blocks':
    patterns: [
      include: '#source-asciidoctor'
    ,
      include: '#source-markdown'
    ]
