@import 'syntax-variables';

@syntax-text-color-unobtrusive: fadeout(@syntax-text-color, 50%);
@syntax-text-mark: mix(@syntax-color-constant, @syntax-color-keyword, 50%);
@syntax-text-highlight: mix(yellow, @syntax-background-color, 70%);
@syntax-block-raw: fadeout(@syntax-text-color, 30%);

atom-text-editor::shadow, :host {
  .asciidoc {

    .markup {

      &.bold {
        font-weight: bold;
      }

      &.italic {
        font-style: italic;
      }

      &.mark {
        color: @syntax-text-mark;
      }

      &.highlight {
        color: black;
        background-color: @syntax-text-highlight;
      }

      &.character-reference {
        font-style: italic;
        color: mix(red, @syntax-text-color, 20%);
      }

      &.biblioref,
      &.blockid {
        font-weight: bold;
        color: mix(green, @syntax-text-color, 20%);
      }

      &.xref {
        font-style: italic;
      }

      &.admonition,
      &.heading,
      &.heading-0,
      &.heading-1,
      &.heading-2,
      &.heading-3,
      &.heading-4,
      &.heading-5 {
        font-weight: bold;

        // Lighten headers for dark themes.
        & when (lightness(@syntax-background-color) < 50%) {
          color: lighten(@syntax-text-color, 20%);
        }

        // Darken headers for light themes.
        & when (lightness(@syntax-background-color) > 50%) {
          color: darken(@syntax-text-color, 20%);
        }
      }

      &.meta.attribute-list,
      &.substitution {
        color: @syntax-text-color-unobtrusive;
      }

      &.heading.blocktitle {

        // Lighten headers for dark themes.
        & when (lightness(@syntax-background-color) < 50%) {
          color: lighten(@syntax-text-color, 10%);
        }

        // Darken headers for light themes.
        & when (lightness(@syntax-background-color) > 50%) {
          color: darken(@syntax-text-color, 10%);
        }
      }

      &.todo.box,
      &.list.bullet {
        color: mix(red, @syntax-text-color, 40%);
      }

      &.macro.block {
        font-weight: bold;
      }

      &.super {
        color: mix(green, @syntax-text-color, 50%);
      }

      &.sub {
        color: mix(green, @syntax-text-color, 50%);
      }

      &.table {
        &.cell.delimiter,
        &.delimiter {
          color: @syntax-color-function
        }
        &.content {
          // Lighten headers for dark themes.
          & when (lightness(@syntax-background-color) < 50%) {
            color: darken(@syntax-text-color, 5%);
          }

          // Darken headers for light themes.
          & when (lightness(@syntax-background-color) > 50%) {
            color: lighten(@syntax-text-color, 5%);
          }
        }
      }

      &.block {
        &.sidebar,
        &.passthrough,
        &.front-matter,
        &.example {
          color: @syntax-block-raw;
        }

        &.listing,
        &.literal {
          color: @syntax-color-snippet;
        }
      }
    }

    .super {
      vertical-align: text-top;
      font-size: @font-size * .7;
    }
    .sub {
      vertical-align: text-bottom;
      font-size: @font-size * .7;
    }
  }
}
